body{
    max-width:1920;
    width:100%;
    overflow-x:hidden;
    font-family: helvetica , 'sans-serif';
    font-size:14px;
}
#container{
    max-width:1920px;
    width:100%;
    margin:0px auto;
}
#container header nav ul{

}
#container header nav ul li{
    list-style-type: none;
    display:inline;
}
#container header ul li a{
    text-decoration:none;
}
#container header nav ul li+li{
    margin-left:2%; 
}
.roundedImage{
    border-radius:50%;
    width:200px;
}
#opleiding{
    max-width:1920px;
    background-color:#2f6fb9;
    padding:8%;
}
#opleiding div{
    display: inline-block;
}
#opleiding .educationSegment{
    width:25%;
    margin-left:6.5%;
    text-align: center;
}
#opleiding .educationSegment img{
    border:10px solid #3958A1;
    background-color:#fff;
}