.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body{
    max-width:1920;
    width:100%;
    overflow-x:hidden;
    font-family: helvetica , 'sans-serif';
    font-size:14px;
    box-sizing: border-box;

}
#container{
    max-width:1920px;
    width:100%;
    margin:0px auto;
    
}
#container header{
    background-color:#2f6fb9;
    height:100vh;
}
#container header nav {
    padding-top:7.5%;
    padding-bottom:5%;
    
}
#container header nav ul{
    padding-top:5%;

}
#container header nav ul li{
    list-style-type: none;
    display:inline;
}
#container header ul li a{
    text-decoration:none;
    color:#fff;
    margin-right:1%;
    border-bottom:2px solid #fff;
    padding-bottom:0.5%;
    transition:0.5s;
}
#container header ul li a:hover{
    padding-bottom:1%;
    border-bottom:2px solid orange;
    color:orange;
}
#container header nav ul li+li{
    padding-left:1%; 

}
#pinfo{
    height:100vh;

}
.roundedImage{
    border-radius:50%;
    width:200px;
}
#opleiding{
    max-width:1920px;
    background-color:#2f6fb9;
    padding-left:6%;
    height:100vh;

}
#opleiding div{
    padding-top:15%;
    display: inline-block;
}
#opleiding .educationSegment{
    width:25%;
    text-align: center;
    margin-left:4%;
}
#opleiding .educationSegment img{
    border:6px solid #265183;
    background-color:#fff;
}
#imagebox{
    text-align:center;
    box-sizing:border-box;

}
#imagebox #foto{
    box-sizing:border-box;
    border-radius: 50%;
    margin-top:5%;
    border:5px solid #fff;
    transition:0.5s;
}
.educationText{
    color:#fff;
    padding-top:5%;
}
#infobox2{
    max-width:500px;
    margin:0px auto;

}
#infobox2 img{
    width:200px;
    margin-top:1%;
    display:inline;
   
}
#floatLeft{
    float:left;
    margin-top:15%;
}
#floatRight{
    float:left;
    margin-top:15%;
}
#knowledge{
    height:100vh;
    max-width:1200px;
    margin:0px auto;
}
#personalinfoboxleft{
float:left;
padding:5%;
font-size:2em;
margin-top:15%;
margin-left:22.5%;
line-height:1.1;
}
#personalinfoboxright{
float:left;
padding:5%;
font-size:2em;
margin-top:15%;
color:gold;
line-height:1.1;

}
.preNext{
    max-width:1920px;
    margin-top:3%;
    text-align:center;
}
.preNext a{
    text-decoration: none;
    color:#265183;
}
.preNext a+a{
    margin-left:80%;
}
.opNext{
    max-width:1920px;
    width:100%;
    text-align:center;
    margin-left:-3%;
    margin-top:2%;
}
.opNext a{
    text-decoration: none;
    color:#fff;
}
.opNext a+a{
    margin-left:85%;
}
.preNextKnowledge{
    max-width:1920px;
    text-align:center;
    position: absolute;
    width:100%;
    margin-top:-8%;
}
.preNextKnowledge a{
    text-decoration: none;
    color:#265183;
}
.preNextKnowledge a+a{
    margin-left:80%;
}